<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Office Availability Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Office Availability Page</h1>

    <form th:action="@{'/appointment/' + officeId}" method="get" class="mb-4">
        <div class="form-group">
            <label for="officeId">Enter the office number:</label>
            <input type="number" id="officeId" name="officeId" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">See availability</button>
    </form>

    <div th:if="${availableList != null}">
        <h2>Dostępność biura:</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Data</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Availability status</th>
                <th>Reserve</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="availability, rowStat : ${availableList}">
                <td th:text="${availability.date}"></td>
                <td th:text="${availability.startTime}"></td>
                <td th:text="${availability.endTime}"></td>
                <td th:text="${availability.availabilityStatus} ? 'Dostępny' : 'Niedostępny'"></td>
                <td>
                    <form th:action="@{'/appointment/' + ${availability.officeId}+'/book'}" method="post" th:object="${availability}">
                        <input type="hidden" name="officeAvailabilityId" th:value="${availability.officeAvailabilityId}" />
                        <input type="hidden" name="date" th:value="${availability.date}" />
                        <input type="hidden" name="startTime" th:value="${availability.startTime}" />
                        <input type="hidden" name="endTime" th:value="${availability.endTime}" />
                        <input type="hidden" name="availabilityStatus" th:value="${availability.availabilityStatus}" />
                        <button type="submit" class="btn btn-success">Zarezerwuj wizytę</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
