<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona z Dostępnością</title>
</head>
<body>
<h1>Strona z Dostępnością Biura</h1>


<form th:action="@{'/appointment/' + officeId}" method="get">
    <label for="officeId">Podaj numer biura:</label>
    <input type="number" id="officeId" name="officeId" required>
    <button type="submit">Zobacz dostępność</button>
</form>


<div th:if="${availableList != null}">
    <h2>Dostępność biura:</h2>
    <table>
        <thead>
        <tr>
            <th>Data</th>
            <th>Godzina rozpoczęcia</th>
            <th>Godzina zakończenia</th>
            <th>Status dostępności</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="availability : ${availableList}">
            <td th:text="${availability.date}"></td>
            <td th:text="${availability.startTime}"></td>
            <td th:text="${availability.endTime}"></td>
            <td th:text="${availability.availabilityStatus} ? 'Dostępny' : 'Niedostępny'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
