<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Lekarzy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Lista Lekarzy</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Specjalizacje</th>
            <th>Numery Biur lekarza</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctorsAndOffice}">
            <td th:text="${doctor.name}"></td>
            <td th:text="${doctor.surname}"></td>
            <td th:text="${doctor.phone}"></td>
            <td th:text="${doctor.specializationNames}"></td>
            <td th:text="${doctor.offices}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
