<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Doctors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">List of Doctors</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>.
            <th scope="col">Name</th>.
            <th scope="col">Telephone</th>.
            <th scope="col">Specialties</th>.
            <th scope="col">Doctor Office Numbers</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctorsAndOffice}">
            <td th:text="${doctor.name}"></td>
            <td th:text="${doctor.surname}"></td>
            <td th:text="${doctor.phone}"></td>
            <td th:text="${doctor.specializationNames}"></td>
            <td th:text="${doctor.offices}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
