<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1>Patient Dashboard</h1>
    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Patient Information</h5>
            <p><strong>Name:</strong> <span th:text="${patient.name}"></span></p>
            <p><strong>Surname:</strong> <span th:text="${patient.surname}"></span></p>
            <p><strong>Pesel:</strong> <span th:text="${patient.pesel}"></span></p>
            <p><strong>Birth Date:</strong> <span th:text="${patient.birthDate}"></span></p>
            <p><strong>Address:</strong> <span th:text="${patient.address}"></span></p>
            <p><strong>Phone:</strong> <span th:text="${patient.phone}"></span></p>


            <form th:action="@{/patient_card}" method="get">
                <button type="submit" class="btn btn-primary">Go to your medical history</button>
            </form>
            <p></p>
            <form th:action="@{/appointment}" method="get">
                <button type="submit" class="btn btn-primary">Go to your appointment portal</button>
            </form>
            <p></p>
            <form th:action="@{/appointment_history}" method="get">
                <button type="submit" class="btn btn-primary">Go to your appointment history</button>
            </form>
            <p></p>
            <form th:action="@{/}" method="get">
                <button type="submit" class="btn btn-primary">Go to main menu</button>
            </form>

            <h5 class="card-title mt-3">Upcoming visits</h5>
            <ul th:if="${appointments}" th:each="appointment : ${appointments}" class="list-group">
                <li class="list-group-item">
                    <p class="mb-0">
                        Data i godzina rozpoczęcia: <span th:text="${appointment.probableStartTime}"></span><br>
                        Data rezerwacji: <span th:text="${appointment.appointmentTakenDate}"></span><br>
                        Gabinet: <span th:text="${appointment.office.officeId}"></span><br>
                        Status: <span th:text="${appointment.appointmentStatus.status}"></span><br>
                        Doctor: <span th:text="${appointment.office.doctor.getName() + ' ' + appointment.office.doctor.getSurname()}"></span><br>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
