<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <!-- Dodaj linki do Bootstrapa -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Formularz Rejestracji</h2>
    <form th:action="@{/register}" method="post" th:object="${registrationUserDto}">
        <!-- Nazwa użytkownika -->
        <div class="form-group">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <!-- Hasło -->
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <!-- Potwierdzenie hasła -->
        <div class="form-group">
            <label for="confirmPassword">Potwierdź hasło:</label>
            <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required>
        </div>
    </form>
    <form th:action="@{/register}" method="post" th:object="${registrationPatientDto}">
        <!-- Dodatkowe pola pacjenta -->
        <div class="form-group">
            <label for="name">Imię:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="surname">Nazwisko:</label>
            <input type="text" class="form-control" id="surname" th:field="*{surname}" required>
        </div>
        <div class="form-group">
            <label for="pesel">PESEL:</label>
            <input type="text" class="form-control" id="pesel" th:field="*{pesel}" required>
        </div>
        <div class="form-group">
            <label for="birthDate">Data urodzenia:</label>
            <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}" required>
        </div>
        <div class="form-group">
            <label for="address">Adres:</label>
            <input type="text" class="form-control" id="address" th:field="*{address}" required>
        </div>
        <div class="form-group">
            <label for="phone">Numer telefonu:</label>
            <input type="tel" class="form-control" id="phone" th:field="*{phone}" required>
        </div>
        </form>
        <!-- Przycisk "Zarejestruj" -->
        <button type="submit" class="btn btn-primary">Zarejestruj</button>

</div>
</body>
</html>
